body {
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.title-header {
    font-family: 'Modak', cursive;
    font-size: 4.4rem;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0.1em;
    border-bottom: 3px solid black;
}

.try-burger-title, 
.devoured-burger-title,
.add-burger-title {
    font-family: 'Modak', cursive;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0.1em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.add {
    line-height: 175%;
}